<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arizona</key>
	<array>
		<string>AZ</string>
	</array>
	<key>Alaska</key>
	<array>
        <string>AK</string>
    </array>
	<key>Alabama</key>
	<array>
        <string>AL</string>
    </array>
	<key>Arkansas</key>
	<array>
        <string>AR</string>
    </array>
	<key>California</key>
	<array>
        <string>CA</string>
    </array>
	<key>Colorado</key>
	<array>
        <string>CO</string>
    </array>
	<key>Connecticut</key>
	<array>
        <string>CT</string>
    </array>
	<key>Delaware</key>
	<array>
        <string>DE</string>
    </array>
	<key>Florida</key>
	<array>
        <string>FL</string>
    </array>
	<key>Georgia</key>
	<array>
        <string>GA</string>
    </array>
	<key>Hawaii</key>
	<array>
        <string>HI</string>
    </array>
	<key>Idaho</key>
	<array>
        <string>ID</string>
    </array>
	<key>Illinois</key>
	<array>
        <string>IL</string>
    </array>
	<key>Indiana</key>
	<array>
        <string>IN</string>
    </array>
	<key>Iowa</key>
	<array>
        <string>IA</string>
    </array>
	<key>Kansas</key>
	<array>
        <string>KS</string>
    </array>
	<key>Kentucky</key>
	<array>
        <string>KY</string>
    </array>
	<key>Louisiana</key>
	<array>
        <string>LA</string>
    </array>
	<key>Maine</key>
	<array>
        <string>ME</string>
    </array>
	<key>Maryland</key>
	<array>
        <string>MD</string>
    </array>
	<key>Massachusettes</key>
	<array>
        <string>MA</string>
    </array>
	<key>Michigan</key>
	<array>
        <string>MI</string>
    </array>
	<key>Minnesota</key>
	<array>
        <string>MN</string>
    </array>
	<key>Mississippi</key>
	<array>
        <string>MS</string>
    </array>
	<key>Missouri</key>
	<array>
        <string>MO</string>
    </array>
	<key>Montana</key>
	<array>
        <string>MT</string>
    </array>
	<key>Nebraska</key>
	<array>
        <string>NE</string>
    </array>
	<key>Nevada</key>
	<array>
        <string>NV</string>
    </array>
	<key>New Hampshire</key>
	<array>
        <string>NH</string>
    </array>
	<key>New Jersey</key>
	<array>
        <string>NJ</string>
    </array>
	<key>New York</key>
	<array>
        <string>NY</string>
    </array>
	<key>North Carolina</key>
	<array>
        <string>NC</string>
    </array>
	<key>North Dakota</key>
	<array>
        <string>ND</string>
    </array>
	<key>Ohio</key>
	<array>
        <string>OH</string>
    </array>
	<key>Oklahoma</key>
	<array>
        <string>OK</string>
    </array>
	<key>Oregon</key>
	<array>
        <string>OR</string>
    </array>
	<key>Pennsylvania</key>
	<array>
        <string>PA</string>
    </array>
	<key>Rhode Island</key>
	<array>
        <string>RI</string>
    </array>
	<key>South Carolina</key>
	<array>
        <string>SC</string>
    </array>
	<key>South Dakota</key>
	<array>
        <string>SD</string>
    </array>
	<key>Tennessee</key>
	<array>
        <string>TN</string>
    </array>
	<key>Texas</key>
	<array>
        <string>TX</string>
    </array>
	<key>Utah</key>
	<array>
        <string>UT</string>
    </array>
	<key>Vermont</key>
	<array>
        <string>VT</string>
    </array>
	<key>Virginia</key>
	<array>
        <string>VA</string>
    </array>
	<key>Washington</key>
	<array>
        <string>WA</string>
    </array>
	<key>West Virginia</key>
	<array>
        <string>WV</string>
    </array>
	<key>Wisconsin</key>
	<array>
        <string>WI</string>
    </array>
	<key>Wyoming</key>
	<array>
        <string>WY</string>
    </array>
</dict>
</plist>
