<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Court</key>
	<string>Ct.</string>
	<key>Crescent</key>
	<string>Cres.</string>
	<key>Drive</key>
	<string>Dr.</string>
	<key>Boulevard</key>
	<string>Blvd.</string>
	<key>Avenue</key>
	<string>Av.</string>
	<key>Lane</key>
	<string>Ln.</string>
	<key>Road</key>
	<string>Rd.</string>
</dict>
</plist>
